.po{
    border: 2px solid;
    background-color: rgb(236, 242, 242);
    width: 800px;
    height: 600px;
}

#p1{
    border: 1px;
    background-color: red;
    width: 100px;
    height: 100px;
    position: relative;

}

#head{
       
}

#p2{
    border: 1px;
    background-color: green;
    width: 100px;
    height: 100px;
    position: relative;

}

.bo{
    border: 1px;
    background-color: rgb(217, 220, 216);
    width: 500px;
    height: 180px;
    position-area: ;
    align-items: center;
    justify-items: center;

}

#p3{
    border: 1px;
    background-color: rgb(59, 48, 48);
    width: 100px;
    height: 100px;
    position: relative;
    color: aliceblue;
   justify-items: center;
    

}

#p4{
    border: 1px;
    background-color: blue;
    width: 100px;
    height: 100px;
    

}

#p5{
    border: 1px;
    background-color: purple;
    width: 100px;
    height: 100px;
    position: relative;

}