#we{
    color: yellow;
    display: grid;
    justify-content: center;
}

#but{
    color: azure;
    background-color: rgb(36, 32, 32);
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 30px;

}

.main{

    border: 0px ;
    border-radius: 5px;
    align-content: flex-start;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 300px;
    width: 500px;
}